.item {
  margin: 1rem 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  background-color: #f7f5ef;
  cursor: pointer;
}

.delete{
  float:right;
  background-color: red;
  border: none;
  padding: 0.3rem 0.5rem;
  font-size: small;
  border-radius: 0.3rem;
  color: white;
}
